.profile {
  display: flex;
  min-height: 120px;
  padding: 40px 0 51px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 879px) {
  .profile {
    min-height: 286px;
    flex-direction: column;
  }
}