.header {
  padding: 45px 0 41px 0;
  border-bottom: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.7);
  border-style: solid;
}

@media screen and (max-width: 879px) {
  .header {
    padding: 28px 0 31.6px 27px;
  }
}