.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  background-color: transparent;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
  width: 32px;
  height: 32px;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}