.profile__description {
  font-family: 'Inter', 'Arial', serif;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 879px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 260px;
  }
}