.popup__title {
  padding: 34px 0 54px 36px;
  font-family: 'Inter', 'Arial', serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 879px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 22px 75px;
    text-align: center;
  }
}